#IDE files #
################
.settings
.project
.classpath
*.iml
.idea
.metadata
.springBeans
target/

#GIT #
######
.git
*.lnk
.gitignore
/src/main/resources/*.properties
/src/main/resources/*.properties
