#center td, th {
    text-align: left;
}

/*DIV panels*/
#event_list_filter {
    position: absolute;
    left: 100px;
    top: -35px;
}

.action_list { display: none;}

#center {
    width: 100%;
    height: auto;
    float: left;
    margin-left: 0px;
    /*border: 1px dotted black;*/
}

#left_panel {
    /*border: 1px dotted black;*/
    width: 500px;
    float: left;
    margin-left: 10px;
}

#right_panel {
    width: 755px;
    float: right;
    margin-right: 10px;
    /*border: 1px dotted black;*/
}

/*search form*/
#search_form {
    position: absolute;
    width: 300px;
    left: 100px;
    bottom: 10px;
}

#search_form > #search, #event_list_filter input {
    width: 300px;
    background-color: #C6D2E3;
    color: #FBFCFD;
    border: none;
    height: 1.5em;
}

/* disable item counter */
#event_list_info {
    display: none;
}

/*images*/
#logo > img {
    position: absolute;
    width: 70px;
    height: 80px;
    bottom: 10px;
    left: 5px;
}

#past_events > img {
    width: 22px;
    height: 20px;
}

#past_events {
    position: absolute;
    right: 20px;
    bottom: 70px;
    text-decoration: none;
    color: black;
}

#statistics > img {
    width: 22px;
    height: 22px;
}

#statistics {
    position: absolute;
    right: 40px;
    bottom: 45px;
    text-decoration: none;
    color: black;
}

#add_event > img {
    width: 30px;
    height: 30px;
}

#add_event {
    /* position: absolute; */
    /* left: 210px; */
    /* top: 36px; */
    text-decoration: none;
}

