#left_panel {
    /*border: 1px dotted black;*/
    width: 500px;
    height: 650px;
    float: left;
    margin-left: 10px;
}

#right_panel {
    width: 755px;
    height: 650px;
    float: right;
    margin-right: 10px;
    /*border: 1px dotted black;*/
}

/* disable item counter */
#event_list_info {
    display: none;
}

/*text styles*/
#event_name {
    position: absolute;
    left: 100px;
    top: 40px;
    color: #000068;
}

/*images*/
#new_event_img {
    position: relative;
    /* width: 750px; */
    /* height: 630px; */
    top: 10px;
}

#arrow_back {
    position: absolute;
    top: 22px;
    left: 100px;
}

#arrow_back img {
    width: 10px;
    height: 9px;
}

/*table style*/
/*overall style*/
table {
    width: 400px;
    padding-left: 10px;
    text-align: left;
}

#left_panel form {
    color: #464B9C;
}

#left_panel form input, #left_panel form select {
    background-color: #C6D2E3;
    color: #464B9C;
}

/*table with Title / Date / Time*/
.total tr th {
    width: 100px;
}

.total tr td input {
    background-color: #C6D2E3;
    color: #464B9C;
    width: 300px;
}

/*table with Booking cancel time*/
.booking tr th {
    width: 350px;
}

#booking_time {
    width: 50px;
    text-align: right;
}

/*Save event and Cancel changes buttons*/
.buttons #event_can {
    text-align: right;
}

/*delete event button*/
#left_panel #event_delete {
    background-color: #FE9B9B;
    color: #464B9C;
}

.delete_button {
    text-align: right;
}

/*event changed, but not saved style*/
span {
    color: #B3B3B3;
    font-size: small;
    position: relative;
    left: -14px;
}