body {
    font: normal;
    font-family: "Open Sans", arial, serif;
    text-align: center;
}

.seats > div {
    font-size: small;
    background: yellowgreen;
    width: 15px;
    height: 15px;
    line-height: 15px; /*выровнивает текст по вертикали*/
    /*сглаживает углы diva*/
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    /*border-radius: 2px 2px 2px 2px;*/
    /**/
    text-align: center;
    margin: 4px 2px 0 2px;
    display: block;
}

.tiers > div {
    font-size: small;
    background: greenyellow;
    width: 60px;
    height: 15px;
    text-align: center;
    margin: 4px 2px 0 2px;
}

#numbers_tiers > div {
    background: yellow;
    width: 60px;
    height: 25px;
    margin: 4px 2px 0 2px;
    line-height: 15px;
}

.all {
    margin-left: 2px;
    float: left;
}

#one {
    float: left;
    margin: 0 20px 20px 20px;
}

#left_panel {
    /*border: 1px dotted black;*/
    width: 200px;
    height: 800px;
    float: left;
    margin-left: 10px;
}

#right_panel {
    width: 200px;
    height: 800px;
    float: right;
    margin-right: 10px;
}

header {
    width: auto;
    height: 100px;
    text-align: left;
    position: relative;
}

.global {
    border: 1px dotted black;
    width: 1280px;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
}

header > #past_events > img {
    width: 22px;
    height: 20px;
}
header > #statistics > img {
    width: 22px;
    height: 22px;
}

header > #past_events {
    position: absolute;
    left: 1090px;
    bottom: 80px;
    text-decoration: none;
}

header > #statistics {
    position: absolute;
    left: 1090px;
    bottom: 55px;
    text-decoration: none;
}