body {
    font: normal;
    font-family: "Open Sans", arial, serif;
    text-align: center;
}

.seats > div {
    font-size: small;
    background: yellowgreen;
    width: 15px;
    height: 15px;
    line-height: 15px; /*выровнивает текст по вертикали*/
    /*сглаживает углы diva*/
    -webkit-border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    -khtml-border-radius: 2px 2px 2px 2px;
    /*border-radius: 2px 2px 2px 2px;*/
    /**/
    text-align: center;
    margin: 4px 2px 0 2px;
    display: block;
}

.tiers > div {
    font-size: small;
    background: greenyellow;
    width: 60px;
    height: 15px;
    text-align: center;
    margin: 4px 2px 0 2px;
}

#numbers_tiers > div {
    background: yellow;
    width: 60px;
    height: 25px;
    margin: 4px 2px 0 2px;
    line-height: 15px;
}

.all {
    margin-left: 2px;
    float: left;
}

#one {
    float: left;
    margin: 0 20px 20px 20px;
}

#left_panel {
    /*border: 1px dotted black;*/
    width: 700px;
    height: auto;
    float: left;
    margin-left: 10px;
}

#right_panel {
    width: 200px;
    height: auto;
    float: right;
    margin-right: 10px;
}

header {
    width: auto;
    height: 100px;
    text-align: left;
    position: relative;
    border-bottom: 1px dotted black;
}

.global {
    border: 1px dotted black;
    width: 1280px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
}

header > #past_events > img {
    width: 22px;
    height: 20px;
}
header > #statistics > img {
    width: 22px;
    height: 22px;
}
header > #add_event > img {
    width: 20px;
    height: 20px;
}
header > h3 {
    position: absolute;
    left: 100px;
}
header > #add_event {
    position: absolute;
    left: 175px;
    bottom: 55px;
    text-decoration: none;
}
header > #past_events {
    position: absolute;
    left: 1150px;
    bottom: 70px;
    text-decoration: none;
    color: black;
}

header > #statistics {
    position: absolute;
    left: 1150px;
    bottom: 45px;
    text-decoration: none;
    color: black;
}

#search_form {
    position: absolute;
    width: 300px;
    left: 100px;
    bottom: 10px;
    /*border: 1px dotted black;*/
}
#search_form > #search {
    width: 300px;
    background-color: #C6D2E3;
    color: #FBFCFD;
}
#logo > img {
    position: absolute;
    width: 70px;
    height: 80px;
    bottom: 10px;
    left: 5px;
}

table {
    border: 1px dotted gray;
    border-collapse: collapse;
    margin-top: 10px;
}
table tr th p {
    color: #C6C6C6;
}
td, th {
    border: 1px dotted gray;
}