/* BEGIN COMMON RULES */

body {
    font: normal;
    font-family: "Open Sans", arial, serif;
    text-align: center;
}

input, button, select {
    outline: none;
    border: none;
    padding: 5px 5px;
    background-color: rgb(198, 210, 227);
    font-family: Open Sans, serif;
    font-size: 1em;
}

/*DIV panels*/
.global {
    border: 1px dotted black;
    width: 1280px;
    height: 750px;
    margin: 0 auto;
}

header {
    width: auto;
    min-height: 110px;
    text-align: left;
    position: relative;
    border-bottom: 1px dotted black;
}

/*text styles*/
header > h1 {
    position: absolute;
    left: 100px;
    color: #14147F;
    margin: 2px 5px;
}

header > h3, header > h2 {
    /* position: absolute; */
    left: 110px;
    color: #14147F;
}

header > h5 {
    /* position: absolute; */
    left: 100px;
    top: 20px;
    color: #14147F;
}

/*images*/
#logo > img {
    position: absolute;
    /* height: 10px; */
    /* bottom: 10px; */
    left: 5px;
}

/* END COMMON RULES */

/* BEGIN INDEX PAGE RULES */
#center td, th {
    text-align: left;
}

/*DIV panels*/
#event_list_filter {
    position: absolute;
    left: 107px;
    top: -55px;
}

.action_list {
    display: none;
}

/* disable item counter */
#event_list_info {
    display: none;
}

#center {
    width: 100%;
    height: auto;
    float: left;
    margin-left: 0;
    /*border: 1px dotted black;*/
}

#left_panel {
    /*border: 1px dotted black;*/
    width: 500px;
    float: left;
    margin-left: 10px;
}

#right_panel {
    width: 755px;
    float: right;
    margin-right: 10px;
    /*border: 1px dotted black;*/
}

/*search form*/
#search_form {
    position: absolute;
    width: 300px;
    left: 100px;
    bottom: 10px;
}

#event_list_filter input {
    width: 300px;
    background-color: #C6D2E3;
    color: #FBFCFD;
    border: none;
    height: 1.5em;
}

/* disable item counter */
#event_list_info {
    display: none;
}

/*images*/
#logo > img {
    position: absolute;
    width: 70px;
    height: 80px;
    bottom: 10px;
    left: 5px;
}

#past_events > img {
    width: 22px;
    height: 20px;
}

#past_events {
    position: absolute;
    right: 20px;
    bottom: 70px;
    text-decoration: none;
    color: black;
}

#statistics > img {
    width: 22px;
    height: 22px;
}

#statistics {
    position: absolute;
    right: 40px;
    bottom: 45px;
    text-decoration: none;
    color: black;
}

#add_event > img {
    width: 30px;
    height: 30px;
}

#add_event {
    /* position: absolute; */
    /* left: 210px; */
    /* top: 36px; */
    text-decoration: none;
}

/* END INDEX PAGE RULES */

/* BEGIN BOOKING PAGE RULES */
/*DIV panels*/
#left_panel {
    /*border: 1px dotted black;*/
    width: 500px;
    height: 650px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

#right_panel {
    width: 755px;
    height: 650px;
    float: right;
    margin-right: 10px;
    /*border: 1px dotted black;*/
}

#results_of_search {
    width: 400px;
    height: 400px;
    border: 1px dotted black;
}

/* disable item counter */
#event_list_info {
    display: none;
}

/*text styles*/
#event_name {
    position: absolute;
    left: 100px;
    top: 40px;
    color: #000068;
}

#results {
    color: #B3B3B3;
    font-size: small;
    position: absolute;
    margin: 5px 5px;
}

/*images*/
#new_event_img {
    position: relative;
    /* width: 750px; */
    /* height: 630px; */
    top: 10px;
}

#arrow_back {
    position: absolute;
    top: 22px;
    left: 100px;
}

#arrow_back img {
    width: 10px;
    height: 9px;
}

/*search form*/
#search_form > #search {
    width: 300px;
    background-color: #C6D2E3;
    color: #FBFCFD;
}

/*table style*/
/*overall style*/
table {
    width: 400px;
    padding-left: 10px;
    text-align: left;
}

#left_panel form {
    color: #464B9C;
}

#left_panel form input, #left_panel form select {
    background-color: #C6D2E3;
    color: #464B9C;
}

.total tr td input {
    background-color: #C6D2E3;
    color: #464B9C;
    width: 300px;
}

/*Save event and Cancel changes buttons*/
.buttons #event_can {
    text-align: right;
}

/*cancel changes button*/
#left_panel #cancel_changes {
    background-color: #FE9B9B;
    color: #464B9C;
}

.cancel_changes {
    text-align: right;
}

/* END BOOKING PAGE RULES */

/* BEGIN NEW EVENT PAGE RULES */
#left_panel {
    /*border: 1px dotted black;*/
    width: 500px;
    height: 650px;
    float: left;
    margin-left: 10px;
}

#right_panel {
    width: 755px;
    height: 650px;
    float: right;
    margin-right: 10px;
    /*border: 1px dotted black;*/
}

/* disable item counter */
#event_list_info {
    display: none;
}

/*text styles*/
#event_name {
    position: absolute;
    left: 100px;
    top: 40px;
    color: #000068;
}

/*images*/
#new_event_img {
    position: relative;
    /* width: 750px; */
    /* height: 630px; */
    top: 10px;
}

#arrow_back {
    position: absolute;
    top: 22px;
    left: 100px;
}

#arrow_back img {
    width: 10px;
    height: 9px;
}

/*table style*/
/*overall style*/
table {
    width: 400px;
    padding-left: 10px;
    text-align: left;
}

#left_panel form {
    color: #464B9C;
}

#left_panel form input, #left_panel form select {
    background-color: #C6D2E3;
    color: #464B9C;
}

/*table with Title / Date / Time*/
.total tr th {
    width: 100px;
}

.total tr td input {
    background-color: #C6D2E3;
    color: #464B9C;
    width: 300px;
}

/*table with Booking cancel time*/
.booking tr th {
    width: 350px;
}

#booking_time {
    width: 50px;
    text-align: right;
}

/*Save event and Cancel changes buttons*/
.buttons #event_can {
    text-align: right;
}

/*delete event button*/
#left_panel #event_delete {
    background-color: #FE9B9B;
    color: #464B9C;
}

.delete_button {
    text-align: right;
}

/*event changed, but not saved style*/
span {
    color: #B3B3B3;
    font-size: small;
    position: relative;
    left: -14px;
}

/* END NEW EVENT PAGE RULES */

body {
}